@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Inter+Tight:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@400;700&display=swap");

/* TODO: Bundle fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Inter Tight", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;

	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h1 {
	@apply text-4xl font-bold;
}

h2 {
	@apply text-2xl font-bold;
}

.textarea {
	line-height: 20px;
}

.mono {
	font-family: "JetBrains Mono", monospace;
}

.desc-text {
	/* TODO: Actual color for this */
	@apply text-xs text-gray-400;
}
